/target
/node_modules
/packages/*/node_modules
/packages/*/dist
/.cellshot-artifacts
/.termctrl-artifacts
/npm-artifacts
/captures
/docs/screenshots/*.ansi
/docs/screenshots/*.json
/docs/screenshots/*.svg
/docs/screenshots/*.txt
*.dylib
*.so
*.dll
